.latar-lihat-berita {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 248, 248, 0.9)), to(rgb(255, 255, 255, 0.9))),
        url(../images/texture.jpg) repeat 0 0 / 12.5% auto !important;
    background: linear-gradient(rgba(248, 248, 248, 0.9), rgb(255, 255, 255, 0.9)),
        url(../images/texture.jpg) repeat 0 0 / 12.5% auto !important
}

.lihat-berita {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2.5%;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.47);
    margin-top: 100px;
    margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
    .lihat-berita {
        border-radius: 0px;
    }
}

.img-lihat-berita {
    border-radius: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.47);
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    max-height: 300px;
}

.isi-berita {
    margin-top: 50px;
}

#img-lihat-berita {
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#img-lihat-berita:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.close {
    margin-right: 50px;
    right: 50px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }

    .close {
        margin-right: 10px;
    }

}