body,
footer {
    font-family: 'Nunito Sans', sans-serif;

}

a {
    text-decoration: none;
}

/* NAVBAR */

ul .nav-item {
    margin-right: 20px;
}

.nav-item .nav-link {
    color: white;
}

@media (min-width: 992px) {
    .nav-utama .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #fed136;
        border-radius: 5px;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}


.dropdown-item:hover {
    background-color: #fed136;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    stroke: tomato;
}

.navbar-toggler {
    background-color: #fed136;
}

.custom-toggler.navbar-toggler {
    border-color: #fed136;
}

/* slide */
.slide {
    margin-top: 70px;
}

.peopleCarouselImg img {
    height: 665px;
    max-height: 665px;
}

@media screen and (max-width: 700px) {
    .peopleCarouselImg img {
        height: 175px;
        max-height: 175px;
    }
}


@media screen and (max-width: 700px) {
    .navbar-brand img {
        width: auto;
        height: 40px;
    }

    .slide {
        margin-top: 50px;
    }
}

.carousel img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 700px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .carousel img {
        height: 175px;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

/* pagination */
.pagination li {
    margin: auto;
    float: left;
    list-style-type: none;
    margin: 5px;
    color: #fed136;
    background-color: #048BC1;
    padding: 10px;
    border-radius: 10px;
}

.pagination a {
    text-decoration: none;
    color: white;
}

.pagination a :hover {
    color: #fed136;
}
@media (max-width: 768px) {
    ul.pagination {
        display: block;
    }
}

/* ISI */
.penjelasan {
    border-radius: 5px;
    -webkit-box-shadow: 13px 10px 19px 2px rgba(0, 0, 0, 0.33);
    box-shadow: 13px 10px 19px 2px rgba(0, 0, 0, 0.33);
    background-color: #fed136;
    color: black;
    padding: 20px;
    margin-bottom: 40px;
}

.penjelasan p {
    text-align: justify
}

.isi {
    margin-top: 86px;
}

.main-page-title {
    padding: 1.25%;
    background-color: rgb(18, 129, 173);
    color: white;
}

.isi-berita {
    margin-top: 25px;
    margin-bottom: 10px;
}

.foto-berita {
    width: 200px;
    height: 150px;
    margin-right: 20px
}

.img-berita {
    width: 200px;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
}

.contoh-berita {
    margin-top: 25px;
    margin-bottom: 25px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row .col-sm-8 {
    border-right: 1px solid #d6d6d6;
}

@media screen and (max-width: 700px) {
    .row .col-sm-8 {
        border-right: 0px;
    }
}

.row .col-sm-8 article {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.row .col-sm-12 article {
    border-bottom: 1px solid #d6d6d6;
}


.p-berita {
    margin-right: 15px;
}


.p-berita h2 {
    text-align: left;
    font-size: 20px;
}


.p-berita p {
    font-size: 15px;
}

p.tanggal-berita {
    color: grey;
    font-size: 13px;
}

.p-berita a:hover {
    color: #fed136;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .contoh-berita {
        display: block;
    }

    .foto-berita {
        margin-left: auto;
        margin-right: auto;
    }

    .tampilan-berita h2 {
        /* font-size: 20px; */
        text-align: center;
        margin-top: 10px;
    }
}

/* footer */
.kontak {
    padding-top: 50px;
    background: #048BC1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 105, 143, 0.75)), to(rgb(2, 65, 90))), url(../images/texture.jpg) repeat 0 0 / 12.5% auto !important;
    background: linear-gradient(rgba(10, 105, 143, 0.75), rgb(2, 65, 90)), url(../images/texture.jpg) repeat 0 0 / 12.5% auto !important;
}

.footer {
    margin-top: 50px;
    color: white;

}

.alamat-email p {
    font-weight: bold;
}

/* social media */
.social-media p {
    font-weight: bold;
}

.social-media a {
    margin-right: 10px;
    margin-left: 10px;
    border: #fed13665 1px solid;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    line-height: 21px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.social-media a:hover {
    color: #fed136;
    text-decoration: none;
}

.circle {
    border: solid;
    border-radius: 18px;
    height: 25px;
    width: 25px;
}

.copyright-krotidesian {
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
}

@media screen and (max-width: 700px) {
    .copyright-krotidesian {
        text-align: center;
    }

    .alamat-email p {
        text-align: center;
    }
}

/* animasi */

.isi .isi-berita {
    -webkit-animation: coba 2s ease;
    animation: coba 2s ease;
}

.main-page-title {
    -webkit-animation: main-page-title 3s ease;
    animation: main-page-title 3s ease;
}

@-webkit-keyframes coba {
    0% {
        opacity: 0;
        margin-top: 200px;
    }

    100% {
        opacity: 1;
        margin-top: 50px;
    }
}

@keyframes coba {
    0% {
        opacity: 0;
        margin-top: 200px;
    }

    100% {
        opacity: 1;
        margin-top: 50px;
    }
}

@-webkit-keyframes main-page-title {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes main-page-title {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}